.scala {
  font-family: monospace;
}

.scala .hljs-keyword {
  color: blue;
  font-weight: bold;
}

.scala .hljs-number {
  color: purple;
}

.scala .hljs-string {
  color: green;
  font-style: italic;
}

.scala .hljs-comment {
  color: lightgray;
  font-style: italic;
}

.scala .hljs-inheritance {
  color: blue;
  font-weight: bold;
}